<div class="main-container">
  <p class="headline">What do you want to discover ?</p>
  <form>
    <div class="checkboxes">
      <input type="checkbox" id="frontend" name="skills" value="frontend">
      <label for="frontend" class="label">Frontend</label><br>

      <input type="checkbox" id="backend" name="skills" value="backend">
      <label for="backend" class="label">Backend</label><br>

      <input type="checkbox" id="ai_ml" name="skills" value="ai_ml">
      <label for="ai_ml" class="label">AI/ML</label><br>

      <input type="checkbox" id="other" name="skills" value="other">
      <label for="other" class="label">Other</label><br>
    </div>
  </form>
  <button class="login-button">Next</button>