<div class="post-temp" infinite-scroll [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
  <button class="back" routerLink="/posts">Back</button>
  <p class="upload-time">1 min ago</p>
  <div class="user-info">
    <img src="assets/images/profile.png" alt="" class="post-avatar">
    <p class="user-name">{{post.user.name}}</p>
    <p class="hastags">{{post.tags[0]}}</p>
  </div>

  <div class="main-post">
    <div class="post post-title">{{post.title}}</div>
    <div class="post">{{post.body}}</div>
    <div class="img-container">
      <img class="post-image" [src]="post.image[0].url" alt="">
    </div>
  </div>

  <div class="comment-sec" id="comment-div" *ngFor="let comment of comments">
    <div class="user">
      <img src="assets/images/profile.png" alt="" class="comment-user-avatar">
      <p class="user-name">{{comment.user.name}}</p>
    </div>
    <div class="comment">
      <p class="comment-text">{{comment.text}}</p>
    </div>
    <div class="comment-stats">
      <button class="upvote" (click)="like(comment)"><ion-icon name="arrow-up"
          [style]="comment.interaction.isliked ? 'color:red;' : 'color:black;'"></ion-icon>&nbsp;{{comment.likes}}</button>
      <button class="downvote" (click)="dislike(comment)"><ion-icon name="arrow-down"
          [style]="comment.interaction.isdisliked ? 'color:red;' : 'color:black;'"></ion-icon>&nbsp;{{comment.dislikes}}</button>
    </div>

    <!-- <div class="user">
      <img src="assets/images/profile.png" alt="" class="comment-user-avatar">
      <p class="user-name">John Doe</p>
    </div>
    <div class="comment">
      <p class="comment-text">New version of nodejs is not stable it needs a time.</p>
    </div>
    <div class="comment-stats">
      <button class="upvote"><ion-icon name="arrow-up"></ion-icon>&nbsp;45</button>
      <button class="downvote"><ion-icon name="arrow-down"></ion-icon>&nbsp;9</button>
    </div> -->
  </div>

  <!-- commnt input -->
</div>

<form [formGroup]="commentForm" (ngSubmit)="createComment()">
  <div class="comment-box">
    <input class="comment-input" type="text" name="comment" placeholder="type here!..." formControlName="comment">
    <button class="submit-post">post</button>
  </div>
</form>