<div class="sample" infinite-scroll [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
  <div class="navigation-button-container">
    <button class="back" routerLink="/posts">Back</button>
  </div>
  <div class="user-info">
    <div class="user-info-aligner">
      <img src="assets/images/profile.png" alt="" class="post-avatar">
      <p class="user-name">{{post.user.name}}</p>
      <!-- <p class="hastags">{{post.tags[0]}}</p> -->
    </div>
    <div class="upload-time-aligner">
      <p class="upload-time">1 m ago</p>
    </div>
  </div>

  <div class="main-post">
    <div class="post post-title">{{post.title}}</div>
    <div class="post">{{post.body}}</div>
    <div class="img-container">
      <img class="post-image" [src]="post.image[0].url" alt="">
    </div>
  </div>
  <br>
  <hr>
  <span class="comment-lable">Comments</span>
  <div class="comment-container">
    <div class="comment-sec" id="comment-div" *ngFor="let comment of comments">
      <div class="user">
        <img src="assets/images/profile.png" alt="" class="comment-user-avatar">
        <p class="user-name">{{comment.user.name}}</p>
      </div>
      <div class="comment">
        <p class="comment-text">{{comment.text}}</p>
      </div>
      <div class="comment-stats">
        <button class="upvote" (click)="like(comment)"><ion-icon name="arrow-up"
            [style]="comment.interaction.isliked ? 'color:red;' : 'color:black;'"></ion-icon>&nbsp;{{comment.likes}}</button>
        <button class="downvote" (click)="dislike(comment)"><ion-icon name="arrow-down"
            [style]="comment.interaction.isdisliked ? 'color:red;' : 'color:black;'"></ion-icon>&nbsp;{{comment.dislikes}}</button>
      </div>
    </div>
  </div>
</div>


<form [formGroup]="commentForm" (ngSubmit)="createComment()">
  <div class="comment-box">
    <input class="comment-input" type="text" name="comment" placeholder="type here!..." formControlName="comment">
    <button class="submit-post">post</button>
  </div>
</form>