
.avatar-image{
  width: 28%;
}

.logo{
  padding: 3rem;
  font-size: 2.5rem;
  color: white;
}

.post-temp{
  position: absolute;
  top: 9rem;
  left: 20rem;
  right: 20rem;
  background-color: white;
  padding: 5rem;
}

.back{
  position: relative;
  top: -2rem;
  left:-2rem;
  background-color: rgba(43, 20, 133, 75%);
  width: 8rem;
  height: 3rem;
  color: white;
  font-family: Istok Web;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}
.upload-time{
  position: relative;
  top:2.3rem;
  left:70rem;
  font-family: Inter;
  font-size: 14px;
  font-weight: bold;
}

.user-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  margin-top:-0.5rem;
}

.post-avatar{
  width: 5%;
  margin-right: 1.5rem;
}

.user-name{
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 16px;
  font-family: Istok Web;
}

.hastags{
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: black;
}
.main-post{
  width: 70%;
  margin-left: 13rem;
  margin-top: 3rem;
}

.post{
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-title{
  font-family: Inter;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.post-image{
  width: 100%;
  max-width: 30vw;
  max-height: 30vw;
  border-radius: 5px;
}

.img-container{
  display: flex;
  justify-content: center;
}

.stats{
  margin-top: 1rem;
  /* vertical-align:middle; */
  display: flex;
  align-items: center;
}

.upvote, .downvote, .comments, .share{
  display: flex;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin:0.5rem;
  font-weight: bold;
}

ion-icon {
  font-size: 2.5rem;
}

.new-post{
  position: fixed;
  bottom: 3rem;
  right:25rem;
  height: 5rem;
  width: 5rem;
  border-radius: 4rem;
  background-color: #0A2DA7;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.new-post ion-icon {
  font-size: 4rem;
  font-weight: bold;
  font-weight: bolder;

}

.comment-sec{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: -10rem;

}

.comment-user-avatar{
  width:4rem;
  margin-right: 3rem;
}

.comment{
  background-color: #D9D9D9;
  border: none;
  height: 4rem;
  width: 45rem;
  margin-left: 20rem;
  margin-top: 1rem;
  border-radius: 0.5rem;

}

.comment-text{
  font-size: 15px;
  font-family: Inter;
  font-weight: bold;
  padding:1rem;
}

.user-name{
  font-family: Inter;
}

.comment-stats{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -14rem;
  margin-top: 1rem;

}


.comment-stats ion-icon {
  font-size: 2.5rem;
  font-weight: bolder;

}

.comment-box{
  position: fixed;
  bottom: 1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.comment-input{
  width: 40vw;
  height: 4rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  border: 2px solid #908989;
  font-size: large;
  padding-left: 1rem;
}

input:focus {
  outline: none;
}

.submit-post{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #908989;
  border-left: none;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

.comment-lable{
  font-size: medium;
  font-family: Inter;
}










