<navbar></navbar>

<div class="main-content">
  <div class="heading">
    <button class="back">Back</button>
    <p class="heading-text">Your Posted Questions</p>
  </div>

  <div class="question">
    <p class="upload-time">1 min ago</p>
    <div class="user-info">
      <p class="hastags">#nodejs #mongoDB #Express</p>
    </div>

    <div class="main-post">
      <div class="post">Failed to compile. Module not found: Can't resolve 'react-router-dom'</div>
      <div class="post1">
        After npm start, the browser gives the error:
      </div>
      <div class="post3">Failed to compile ./src/components/App/App.js Module not found: Can't resolve
        'react-router-dom'.</div>

    </div>
    <div class="user-info">
      <p class="hastags">10 solutions.</p>
      <p class="hastags">last response 1 day ago.</p>
    </div>

  </div>

  <div class="question">
    <p class="upload-time">1 min ago</p>
    <div class="user-info">
      <p class="hastags">#nodejs #mongoDB #Express</p>
    </div>

    <div class="main-post">
      <div class="post">Failed to compile. Module not found: Can't resolve 'react-router-dom'</div>
      <div class="post1">
        After npm start, the browser gives the error:
      </div>
      <div class="post3">Failed to compile ./src/components/App/App.js Module not found: Can't resolve
        'react-router-dom'.</div>

    </div>
    <div class="user-info">
      <p class="hastags">10 solutions.</p>
      <p class="hastags">last response 1 day ago.</p>
    </div>

  </div>

  <div class="question">
    <p class="upload-time">1 min ago</p>
    <div class="user-info">
      <p class="hastags">#nodejs #mongoDB #Express</p>
    </div>

    <div class="main-post">
      <div class="post">Failed to compile. Module not found: Can't resolve 'react-router-dom'</div>
      <div class="post1">
        After npm start, the browser gives the error:
      </div>
      <div class="post3">Failed to compile ./src/components/App/App.js Module not found: Can't resolve
        'react-router-dom'.</div>

    </div>
    <div class="user-info">
      <p class="hastags">10 solutions.</p>
      <p class="hastags">last response 1 day ago.</p>
    </div>

  </div>

  <div class="question">
    <p class="upload-time">1 min ago</p>
    <div class="user-info">
      <p class="hastags">#nodejs #mongoDB #Express</p>
    </div>

    <div class="main-post">
      <div class="post">Failed to compile. Module not found: Can't resolve 'react-router-dom'</div>
      <div class="post1">
        After npm start, the browser gives the error:
      </div>
      <div class="post3">Failed to compile ./src/components/App/App.js Module not found: Can't resolve
        'react-router-dom'.</div>

    </div>
    <div class="user-info">
      <p class="hastags">10 solutions.</p>
      <p class="hastags">last response 1 day ago.</p>
    </div>

  </div>

</div>