.main-content{

  display: flex;
  justify-content: center;
}

.heading{
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.back{
  margin-top: 1rem;
  background-color: rgba(43, 20, 133, 75%);
  width: 8rem;
  height: 3rem;
  color: white;
  font-family: Inter;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-button-aligner{
  display: flex;
  justify-content: flex-start;
}

.heading-text{
  font-size: 24px;
  font-family: Istok web;
  margin-top: -1.8rem;
}

.question{
  background-color: #D4D2D2;
  margin-top: 2rem;
  padding-left: 5px;
}

.upload-time{
  position: relative;
  top: 1px;
  right: 2px;
}

.user-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  margin-top:-0.5rem;
}

.user-name{
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 16px;
  font-family: Istok Web;
}

.hastags{
  font-size: 12px;
  font-family: Istok Web;
  font-weight: bold;
  color: black;
}

.main-post{
  width: 70%;
  margin-top: 3rem;
}

.post{
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2rem;
}

.post1{
  font-size: 14px;
  font-family: istok web;
  margin-bottom: 2rem;
}

.post3{
  font-size: 12px;
  font-family: istok web;
  margin-bottom: 2rem;
  padding-left: 2rem;
}

.user-info{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}


/* code for responsivness  */

.sample{
  width: 80vw;
  height: auto;
  min-height: 100vh;
  background-color: #D9D9D9;
  margin: auto;
  padding-top: 9rem;
  padding-left: 2rem;
  padding-right: 2rem;
}





