.main-content {
  display: flex;
  padding-top: 90px;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.post-temp {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.post-avatar {
  width: 30px;
  height: 30px;
}

.user-name {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Istok Web';
}

.hastags {
  font-size: 12px;
  font-family: 'Istok Web';
  font-weight: bold;
  color: black;
}

.upload-time {
  position: relative;
  left: 2rem;
  font-family: 'Inter';
  font-size: 14px;
  font-weight: bold;
}

.main-post {
  width: 75%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align-last: left;
  cursor: pointer;
}

.post {
  font-family: 'Inter';
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: none;
}

.post-image {
  width: 100%;
}

.stats {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.upvote,
.downvote,
.comments,
.share {
  display: flex;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  font-weight: bold;
}

ion-icon {
  font-size: 2.5rem;
}

.new-post {
  position: fixed;
  bottom: 3rem;
  right: 29rem;
  height: 5rem;
  width: 5rem;
  border-radius: 4rem;
  background-color: #0a2da7;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.new-post ion-icon {
  font-size: 4rem;
  font-weight: bold;
  font-weight: bolder;
}
