<h2 class="heading-title">Let's Connect With <span class="heading-sub-title">Seniors.</span></h2>
<h4 class="sub-heading">''Mentor's'' troublesome assistance can help you advance your profession! </h4>

<img class="avatar" src="assets/images/profile.png">

<h4 class="services">PROJECTS | POSTS | DOUBTS| TEAMS | CHATS </h4>

<div class="footer">
  <h4 class="footer-text">Create your profile and showcase your creativity.</h4>
  <button class="Lets-Start" (click)="navigateToLogin()">Let's Start</button>
</div>

<script src="" async defer></script>