<div class="main">
  <div  class="back-image" style="background-image: url('assets/images/developers2.svg'); background:linear-gradient(rgba(0,0,0,0.5),#5c5b60),url('assets/images/developers2.svg');">
    <div class="content">
      <h2 class="heading-title">“Welcome to <span class="heading-sub-title">Letsdev"</span></h2>
      <p class="sub-heading">-Your Hub for Developer Collaboration.</p>
      <h4 class="services">POSTS | QUESTIONS | CHATS | JOBS</h4>
    </div>
  </div>


  <div class="service-content">
    <div class="posts">
      <div class="info-text">
        <p class="title">
          Posts:
        </p>
        <pre class="text">
          Show your new skills and techniques
          by creating post with others.
          Earn stars for every post

          Do visit postings to stay informed
          with the vast developer community.
        </pre>
      </div>
      <div class="post-image">
        <img src="assets/starter-images/posts.png" alt="" class="intro-image">
      </div>
    </div>

    <div class="posts p-r">
      <div class="post-image">
        <img src="assets/starter-images/questions.png" alt="" class="intro-image">
      </div>
      <div class="info-text">
        <p class="title">
          Questions:
        </p>
        <pre class="text">
          Need help with a coding challenge?
          Ask your technical questions here.

          Stuck with a bug? Describe your issue,
          and our community will help you find the
          solution.
        </pre>
      </div>
    </div>

    <div class="posts">
      <div class="info-text">
        <p class="title">
          Code Formatting:
        </p>
        <pre class="text">
          Ask question by adding formatted codes.

          Multi language support.
        </pre>
      </div>
      <div class="post-image">
        <img src="assets/starter-images/formatted-questions.png" alt="" class="intro-image">
      </div>
    </div>

    <div class="chats">
      <div class="info-text">
        <p class="title">
          Live chat with connections
        </p>
      </div>
      <div class="post-image chat-img-container">
        <img src="assets/starter-images/connections.png" alt="" class="intro-image chat-img">
        <img src="assets/starter-images/chatting.png" alt="" class="intro-image chat-img">
      </div>
    </div>

    <div class="chats">
      <div class="info-text">
        <p class="title">
          Jobs
        </p>
      </div>
      <div class="post-image chat-img-container">
        <img src="assets/starter-images/jobs.png" alt="" class="intro-image chat-img">
      </div>
      <div class="lets-start-aligner">
        <button class="Lets-Start" (click)="navigateToLogin()">Let's Start</button>
      </div>
    </div>
  </div>
  <div class="page-footer">
    <div class="text-aligner">
      <div class="ft-title">Letsdev</div>
      <div class="ft-sub-text">
        Unlocking the potential of developers worldwide, <br>
        one code at a time. <br>
        Join us on a journey to build a brighter tech future together.
      </div>
    </div>
  </div>