<header class="header">
  <p class="logo">Logo</p>

  <nav class="navbar">
    <ul class="navbar-list">
      <li><a class="navbar-link" routerLink="/posts">Posts</a></li>
      <li><a class="navbar-link" routerLink="/questions">Questions</a></li>
      <li><a class="navbar-link" routerLink="/chats">Chat</a></li>
      <li><a class="navbar-link" routerLink="/courses">Courses</a></li>
      <li><a class="navbar-link" routerLink="/placements">Placements</a></li>
    </ul>
  </nav>

  <div class="avatar">
    <img class="avatar-image" src="assets/images/profile.png" alt="">
  </div>
</header>