.header{
  width: 100%;
  height: 9rem;
  position: fixed;
  background-color: #102984;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: center;
  z-index: 9999;

}

.navbar-list{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Istok Web, Inter;
}
.navbar-list a{
  text-decoration: none;
  color: white;
  font-family: Istok Web, Inter;
  cursor: pointer;
}

.avatar{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-right: 5em;
}


.avatar-image{
  width: 28%;
}

.logo{
  padding: 3rem;
  font-size: 2.5rem;
  color: white;
}









