<div class="sample" infinite-scroll [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
  <!-- <div class="main-content" > -->
    <div class="post-temp" *ngFor="let post of posts">
      <div class="time-userinfo">
        <div class="user-info">
          <img src="assets/images/profile.png" alt="" class="post-avatar">
          <p class="user-name">{{post.user.name}}</p>
          <!-- tmp tag are commented -->
          <!-- <p class="hastags">#nodejs #mongoDB #Express</p> -->
        </div>
        <div class="upload-time">{{ post.createdAt | timeAgo }}</div>
      </div>
      <div class="main-post">
        <div class="post post-title">{{post.title | truncate: 80}}</div>
        <div class="img-container">
          <img class="post-image" [src]="post.image[0].url" alt="" [routerLink]="['/posts', post._id]" loading="lazy">
        </div>
        <div class="post" [routerLink]="['/posts', post._id]">{{post.body | truncate: 150}}</div>
      </div>
      <div class="stats">
        <button class="upvote" (click)="like(post)"><ion-icon name="arrow-up"
            [style]="post.interaction.isliked ? 'color:red;' : 'color:black;'"></ion-icon>&nbsp;{{post.preferences.likes}}</button>
        <button class="downvote" (click)="dislike(post)"><ion-icon name="arrow-down"
            [style]="post.interaction.isdisliked ? 'color:red;' : 'color:black;'"></ion-icon>&nbsp;{{post.preferences.dislikes}}</button>
        <button class="comments" [routerLink]="['/posts', post._id]"><ion-icon name="chatbubbles"></ion-icon></button>
        <button class="share"><ion-icon name="share-social"></ion-icon></button>
      </div>
    </div>
    <button class="new-post" routerLink="/posts/create"><ion-icon name="add-outline"></ion-icon></button>
  <!-- </div> -->
</div>