.main-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-temp {
  border-radius: 4px;
  margin: 2rem;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  background-color: rgb(247, 247, 247);
}

.upload-time {
  margin: 1rem;
  font-family: Inter;
  width: 21%;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: black;
}
.time-userinfo {
  display: flex;
  justify-content: space-between;
}

.user-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  margin-top: -0.5rem;
}

.post-avatar {
  width: 35px;
  margin-right: 1.5rem;
}

.user-name {
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hastags {
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: black;
}

.main-post {
  /* width: 80%; */
  margin-left: 8px;
  margin-top: 1rem;
  cursor: pointer;
}

.post {
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.post-title {
  font-family: Inter;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.post-image {
  width: 70%;
  max-height: 32vw;
  max-width: 30vw;
  border-radius: 2px;
}

.stats {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.upvote,
.downvote,
.comments,
.share {
  display: flex;
  align-items: center;
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  font-weight: bold;
}

ion-icon {
  font-size: 2.5rem;
}

.new-post {
  position: fixed;
  bottom: 3rem;
  right: 13vw;
  height: 5rem;
  width: 5rem;
  border-radius: 4rem;
  background-color: #0a2da7;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.new-post ion-icon {
  font-size: 4rem;
  font-weight: bold;
  font-weight: bolder;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

/* responsive code from here */

.sample{
  width: 80vw;
  height: auto;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  padding-top: 8.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

/* responsive code here */

@media (min-width: 500px) and (max-width: 690px) {
  .sample{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .post-image {
    max-height: 66vw;
    max-width: 66vw;
  }
}

@media (min-width: 1150px) and (max-width: 1300px) {
  .sample{
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

@media (min-width: 1300px) {
  .sample{
    padding-left: 15rem;
    padding-right: 15rem;
  }
}

@media (min-width: 300px) and (max-width: 499px) {
  .sample{
    padding-left: 1px;
    padding-right: 1px;
    width: 90vw;
  }

  .post-image {
    max-height: 66vw;
    max-width: 68vw;
  }

  .post-temp {
    border-radius: 3px;
    margin: 8px;
    margin-top: 15px;
    margin-bottom: 12px;
    /* margin-bottom: 1rem; */
  }
}

@media (max-width: 299px) {
  .sample{
    width: 100vw;
  }

  .new-post {
    right: 7vw;
  }

  .post-image {
    max-height: 66vw;
    max-width: 66vw;
  }
}
