<div class="sample">
  <div class="header-wrapper">
    <div class="main-content-header">
      <p class="all-teams">Your connections</p>
      <input class="search-bar" type="text" id="searchInput" placeholder="Search for team">
      <span class="search-icon">🔍</span>
    </div>
  </div>
  <div class="wrapper" *ngIf="connections">
    <div class="user-card" *ngFor="let con of connections" [routerLink]="['/chats', con.user._id]">
      <div class="notification">
        <div class="bubble">{{con.notifications}}</div>
      </div>
      <div class="image-name-aligner">
        <img src="assets/images/profile.png" alt="" class="profile-image">
        <div>
          <span class="name" [routerLink]="['/profile', con.user._id]">
            {{con.user.name}}
          </span>
          <br>
          <div class="last-message">
            <span class="msg-text">
              {{con.last_message}}
            </span>
            <span class="msg-time">
              {{ con.last_message_date | chatTimestamp }}
            </span>
          </div>
        </div>
      </div>
      <div class="status">
        <div class="status-dot"></div>
        online
      </div>
    </div>
  </div>
</div>