<div class="main-content">
  <div class="main-content-header">
    <p class="all-teams">Connections</p>
    <input class="search-bar" type="text" id="searchInput" placeholder="Search for team">
    <span class="search-icon">🔍</span>

  </div>

  <div class="teams">

    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <div class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></div>

      <div class="team-time">7:15pm</div>

    </div>

    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>

    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>


    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>


    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>

    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>

    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>

    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>
    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>
    <div class="teams-temp">

      <div class="chat-content">
        <div class="chat-avatar">
          <img src="assets/images/profile.png" alt="" class="chat-avatar-img">
        </div>
        <div class="messages">
          <p class="name">John Doe</p>
          <p class="message">how to connect java server...</p>
        </div>
      </div>


      <p class="notifications">3&nbsp;<ion-icon name="notifications"></ion-icon></p>

      <p class="team-time">7:15pm</p>

    </div>
  </div>
</div>