
<div class="main-content">

  <button class="back">Update</button>
  <img src="assets/images/profile.png" alt="" class="user-avatar">

  <div class="inputs">
    <form>
      <label for="title">Name</label>
      <input type="text" id="title" name="title" class="input-area"><br><br>

      <label for="body">Email</label><br>
      <input type="text" id="title" name="title" class="input-area"><br><br>

      <label for="tags">Branch</label>
      <input type="text" id="tags" class="input-area" name="tags"><br><br>

      <label for="image" class="img-text">Gender</label>
      <input type="text" id="image" class="input-area" name="image"><br><br>
    </form>
  </div>
</div>