
.root{
  display: flex;
  justify-content: center;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container{
  margin-top:18rem;
  background-color: #123182;
  width: 70vw;
  padding: 4rem;
}

.heading{
  font-family: Inter;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

a{
  color: red;
  font-size: 12px;
  cursor: pointer;
}
