.sample{
  width: 80vw;
  height: auto;
  min-height: 100vh;
  background-color: #D9D9D9;
  margin: auto;
  padding-top: 9rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* responsive */
@media (max-width: 400px) {
  .sample{
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #D9D9D9;
    margin: auto;
    padding-top: 9rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (min-width: 900px) {
  .sample{
    padding-left: 12rem;
    padding-right: 12rem;
  }
}

.question{
  background-color: #F6F6F6;
  margin-top: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.nav-button{
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.back{
  cursor: pointer;
  background-color: rgba(43, 20, 133, 75%);
  padding-left: 5px;
  padding-right: 5px;
  height: 3rem;
  color: white;
  font-family: Istok Web;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.upload-time{
  position: relative;
  top:2.3rem;
  left:69rem;
  font-family: Inter;
  font-size: 14px;
  font-weight: bold;
}

.user-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
  margin-top:-0.5rem;
}

.post-avatar{
  width: 5%;
  margin-right: 1.5rem;
}

.user-name{
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 16px;
  font-family: Inter;
}

.hastags{
  font-size: 12px;
  font-family: Inter;
  font-weight: bold;
  color: black;
}

.main-post{
  width: 70%;
  margin: 1vw;
}

.post{
  font-family: Inter;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  cursor: pointer;
}

.post1{
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  font-family: Inter;
  margin-bottom: 2rem;
  padding-left: 15px;
}

.new-post{
  position: fixed;
  bottom: 3rem;
  right: 11vw;
  height: 5rem;
  width: 5rem;
  border-radius: 4rem;
  background-color: #0A2DA7;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 4rem;
  font-weight: bolder;
}

code {
  font-size: large;
}

/* user card */
.container{
  padding: 1rem;
  padding-top: 0;
  padding-left: 0.4rem;
  background-color: #D9D9D9;
  display: inline-block;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  display: inline-flex;
}

.user-info-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}

.user-name-card{
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#profile-image{
  max-height: 3rem;
  border-radius: 50%;
}

.user-preferences{
  display: flex;
  justify-content: space-around;
  font-size: large;
}

/* responsive */

@media (max-width: 290px) {
  .user-name {
    font-size: medium;
    padding: 5px;
  }

  #profile-image{
      max-height: 2rem;
  }
}

@media (max-width: 192px){
  .container{
      font-size: smaller;
  }
}

@media (min-width: 290px){
  .container{
      width: 200px;
  }
}

.usercard-container{
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}