<div class="sample">
  <div class="post-temp">
    <div class="nav-button">
      <img src="assets/images/refresh.png" title="refresh" (click)="refresh()" class="back">
      <img src="assets/images/mylisting.png" class="back" title="your question listing" routerLink="/questions/myquestions">
    </div>
    <div class="question" *ngFor="let question of questions">
      <div class="main-post">
        <div class="post" [routerLink]="['/questions', question._id]">{{question.title | truncate: 60}}</div>
        <div class="post1">
          {{question.output | truncate: 100}}
        </div>
      </div>
      <div class="usercard-container">
        <div class="container">
          <div>
            posted {{ question.createdAt.toString() | timeAgo }}
            <div class="user-info-card" [routerLink]="['/profile', question.user._id]">
              <img src="assets/images/profile.png" id="profile-image" alt="">
              <span class="user-name-card">
                {{question.user.name}}
              </span>
            </div>
            <div class="user-preferences">
              <span class="start">
              </span>{{question.user.stars}}⭐
              <span class="views">
                {{question.user.profileViews}}👀
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="new-post" routerLink="/questions/create"><ion-icon name="add-outline"></ion-icon></button>
</div>