<navbar></navbar>

<div class="post-temp">

  <div class="question">
    <button class="back">My question</button>
    <p class="upload-time">1 min ago</p>
    <div class="user-info">
      <img src="assets/images/profile.png" alt="" class="post-avatar">
      <p class="user-name">John Doe</p>
      <p class="hastags">#nodejs #mongoDB #Express</p>
    </div>

    <div class="main-post">
      <div class="post">Failed to compile. Module not found: Can't resolve 'react-router-dom'</div>
      <div class="post1">
        After npm start, the browser gives the error:
      </div>
      <div class="post3">Failed to compile ./src/components/App/App.js Module not found: Can't resolve
        'react-router-dom'.</div>
      <div class="post4">React-router-dom has been added to the dependencies in npm and so has react-router and react.
        Project has been created using the create-react-app myapp cmd line. This is runned on a localhost, node server.
        I have an api and app folder inside my project folder. I have tried various things. Updated manually my
        package.json inside the app folder, reinstalled react-router-dom, delete the package-lock.json in the app folder
        and reinitialize it. My api folder holds nothing but node_modules, my api file, route.js, config.js, index.js
        and also a package.json and package-lock.json. I have tried the npm build command in my app folder. It just
        creates a 'build' folder which holds the same files as my public folder inside my app folder. I also tried
        running yarn add</div>

    </div>

  </div>

  <button class="new-post"><ion-icon name="add-outline"></ion-icon></button>

</div>