.points{
  font-size: 16px;
}

.profile-stars-aligner{
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit{
  margin: 3px;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navigation-button-aligner{
  display: flex;
  justify-content: space-between;
}

.edit-profile-icon{
  height: 30px;
  width: 30px;
  margin: 3px;
  cursor: pointer;
}

.profile{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.user-avatar{
  margin-top: 2rem;
  width: 25%;
  margin-bottom: 3rem;
}

.name{
  font-size: 24px;
  cursor: pointer;
}

.bio{
  font-size: 18px;
  text-align:center;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.gender, .Technologies, .organization{
   font-size: 14px;
  width: 50%;
  text-align: start;
  margin-top: 1rem;
}

.Technologies{
  text-align:unset;
}

ion-icon{
  font-size: 4.5rem;
  margin-top: 1rem;
  color: #2F4AA9;
  cursor: pointer;
}

ion-icon:hover{
  opacity: 0.7;
}

/* responsive code here */
.sample{
  width: 80vw;
  height: auto;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-family: Inter;
}

table{
  font-size: 16px;
  margin-bottom: 2rem;
}

td{
  padding: 2rem;
}

@media (max-width: 600px) and (min-width: 450px) {
  .sample{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  td{
    padding: 3px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 599px) {
  .sample{
    padding-left: 0px;
    padding-right: 0px;
    width: 92vw;
  }

  td{
    padding: 0px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: small;
  }

  .bio{
    font-size: medium;
  }
}
