<div class="sample">
  <!-- <div class="main-content"> -->
  <a routerLink="/profile/edit" class="edit">Edit</a>
  <div class="profile">
    <div class="profile-stars-aligner">
      <img src="assets/images/profile.png" alt="" class="user-avatar">
    </div>
    <p class="name">John Doe&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="points">100⭐</span></p>
    <p class="bio">Be happy do coding develop
      platforms.</p>
    <!-- <p class="gender"><b>Gender</b>: Male</p>
    <p class="Technologies"><b>Technologies</b>: #nodejs #reactjs
      #mongodb #docker</p>
    <p class="organization"><b>College/Company</b>: Sinhgad
      College Of Engineering Pune. </p>
  </div> -->

    <table>
      <tbody>
        <tr>
          <td>Gender</td>
          <td>: Male</td>
        </tr>
        <tr>
          <td>Technologies</td>
          <td>: #nodejs #reactjs #mongodb #docker</td>
        </tr>
        <tr>
          <td>College/Company</td>
          <td>: Sinhgad College Of Engineering Pune</td>
        </tr>
      </tbody>
    </table>

    <ion-icon name="logo-wechat"></ion-icon>
    <!-- </div> -->
  </div>