
<div class="main-content">
  <p class="points">Points 100</p>
    <a routerLink="/profile/edit" class="edit">Edit</a>
  <div class="profile">
    <img src="assets/images/profile.png" alt="" class="user-avatar">
    <p class="name">John Doe</p>
    <p class="bio">Be happy do coding develop
      platforms.</p>
    <p class="gender"><b>Gender</b>: Male</p>
    <p class="Technologies"><b>Technologies</b>: #nodejs #reactjs
      #mongodb #docker</p>
    <p class="organization"><b>College/Company</b>: Sinhgad
      College Of Engineering Pune. </p>

  </div>

  <ion-icon name="logo-wechat"></ion-icon>
</div>
