.header{
  width: 100%;
  height: 9rem;
  position: fixed;
  background-color: #102984;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  align-items: center;
  z-index: 999;
}

.navbar-list{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: Istok Web, Inter;
}

.navbar-list a{
  text-decoration: none;
  color: white;
  font-family: Istok Web, Inter;
}

.avatar{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  margin-right: 5em;
}

.avatar-image{
  width: 28%;
}

.logo{
  padding: 3rem;
  font-size: 2.5rem;
  color: white;
}

.create-post{
  position: absolute;
  top: 8rem;
  left: 20rem;
  right: 20rem;
  background-color: white;
  padding: 5rem;
}

.back{
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}

.heading{
  display: flex;
  justify-content:center;
}

.heading-text{
  font-size: 24px;
  font-family: Inter;
  margin-top: 2rem;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Istok Web;
  font-size: 15px;
  margin-top: 2rem;
}

.input-area{
  display: flex;
  background-color: #D9D9D9;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2rem;
  font-size: 2rem;
}

.language{
  width: 50%;
}

textarea{
  resize: none;
}

textarea#code {
  height: 25rem;
}

#title{
  height: 5rem;
  overflow-y: scroll;
  overflow-y: scroll;
}

#myTextArea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: scroll;
}


#body{
  height: 9rem;
}

#tags{
  height: 5rem;
}

#image{
  height:5rem;
}

.submit{
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  float: right;
  margin-bottom: 10rem;
}

.indicator{
  padding-left: 2rem;
  padding-top: 0.5rem;
  color: red;
}

#container {
  display: flex;
  flex-direction: column;
}

#editor {
  width: 70vw;
  height: 400px;
  margin: 20px auto;
  font-size: medium;
}

.dropbtn {
  background-color: #4caf50;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

.dropbtn:hover {
  background-color: #45a049;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 5px;
}

.dropdown-content p {
  color: black;
  cursor: pointer;
  padding: 12px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navigation-button{
  display: flex;
  justify-content: start;
}

/* code to hide scrollbars */
textarea::-webkit-scrollbar {
  width: 0.4em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide vertical scrollbar for Webkit browsers (Chrome, Safari, Opera) */
textarea::-webkit-scrollbar {
  width: 0.4em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Hide scrollbar for Edge and IE */
textarea::-ms-scrollbar {
  width: 0.4em;
}

textarea::-ms-scrollbar-thumb {
  background-color: transparent;
}

/* Hide scrollbar for Firefox on macOS */
textarea {
  scrollbar-width: none;
}



/* responsive code  */

.sample{
  width: 80vw;
  height: auto;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  padding-top: 13rem;
  padding-left: 5rem;
  padding-right: 5rem;
}


@media (max-width: 600px) {

  .sample{
    width: 97vw;
    padding-top: 11rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }


  .heading-text{
    font-size: 16px;
    margin-top: 2rem;
  }

  .back{
    height: 2rem;
    width: 2rem;
  }

  #editor {
    width: 95vw;
    height: 400px;
  }

  .submit{
    margin-right: 5px;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 15rem;
  }
}
