
<div class="create-post">
  <div class="heading">
    <button class="back" routerLink="/questions">Back</button>
    <p class="heading-text">Create draft for your question</p>
  </div>
  <div class="inputs">
    <form>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" class="input-area"><br><br>

      <label for="title">Output Title</label>
      <input type="text" id="title" name="title" class="input-area"><br><br>

      <label for="title">Output</label>
      <input type="text" id="title" name="title" class="input-area"><br><br>

      <label for="title">Language</label>
      <input type="text" id="title" name="title" class="input-area language"><br><br>

      <label for="code">Code</label>
      <textarea id="code" name="code" class="input-area" rows="100"></textarea>


    </form>
  </div>
  <div class="img-upload"></div>
</div>