<div class="sample">
  <div class="navigation-button">
    <img src="assets/images/back.png" class="back" routerLink="/questions">
  </div>
  <div class="heading">
    <p class="heading-text">Create draft for your question</p>
  </div>
  <div class="inputs">
    <form [formGroup]="questionForm" (ngSubmit)="createQuestion()">
      <label for="title">Title</label>
      <span *ngIf="title && title.invalid && title.touched" class="indicator">title field is required</span>
      <textarea type="text" id="title" name="title" class="input-area" textarea id="myTextArea" rows="2" cols="50"
        formControlName="title"></textarea><br><br>

      <label for="title">Output</label>
      <span *ngIf="output && output.invalid && output.touched" class="indicator">output field is required</span>
      <textarea type="text" id="title" name="title" class="input-area" textarea id="myTextArea" rows="10" cols="50"
        formControlName="output"></textarea><br><br>

      <label for="title">Description</label>
      <span *ngIf="description && description.invalid && description.touched" class="indicator">description field is
        required</span>
      <textarea type="text" id="title" name="title" class="input-area" textarea id="myTextArea" rows="5" cols="50"
        formControlName="description"></textarea><br><br>

      <div id="container">
        <div class="dropdown">
          <span class="dropbtn" (click)="selection()">{{ language || "Select Language" }}</span>
          <div class="dropdown-content" id="drop-content" [hidden]="isHide">
            <p (click)="changeLanguage('javascript')">JavaScript</p>
            <p (click)="changeLanguage('python')">Python</p>
            <p (click)="changeLanguage('java')">Java</p>
            <p (click)="changeLanguage('html')">HTML</p>
            <p (click)="changeLanguage('css')">CSS</p>
            <p (click)="changeLanguage('cpp')">C++</p>
            <p (click)="changeLanguage('c')">C</p>
            <p (click)="changeLanguage('csharp')">C#</p>
            <p (click)="changeLanguage('ruby')">Ruby</p>
            <p (click)="changeLanguage('golang')">Go</p>
            <p (click)="changeLanguage('dart')">Dart</p>
            <p (click)="changeLanguage('typescript')">TypeScript</p>
          </div>
        </div>
        <div id="editor">
          //write youre code here
        </div>
      </div>
      <img src="assets/images/submit.png" class="submit" title="create question">
    </form>
  </div>
</div>