.create-post{
  position: absolute;
  top: 8rem;
  left: 20rem;
  right: 20rem;
  background-color: white;
  padding: 5rem;
  bottom: 0;
}

.back{
  position: relative;
  top: -2rem;
  left:-2rem;
  background-color: rgba(43, 20, 133, 75%);
  width: 8rem;
  height: 3rem;
  color: white;
  font-family: Istok Web;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.heading{
  display: flex;
  justify-content: space-between;
  text-align:center;
  margin-left: 3rem;
}

.heading-text{
  font-size: 24px;
  font-family: Istok web;
  margin-top: -1.8rem;
}

.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Istok Web;
  font-size: 15px;

}

.input-area{
  display: flex;
  height: 6rem;
  width: 60rem;
  background-color: #D9D9D9;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 2rem;
}

#title{
  height: 5rem;
}

#body{
  height: 9rem;
}

#tags{
  height: 5rem;
}

#image{

  height:5rem;
}

#selectedImage{
  width: 50%;
}
.image-container{
  display: flex;
  width: 60rem;
  justify-content: center;
}

button {
  background-color: rgba(43, 20, 133, 75%);
  color: white;
  font-family: Istok Web;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  margin-top: -13px;
}


