
<div class="create-post">
  <div class="heading">
    <button class="back">Back</button>
    <p class="heading-text">Create New Post</p>
    <button class="back">Post</button>
  </div>
  <div class="inputs">
    <form>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" class="input-area"><br><br>

      <label for="body">Body</label><br>
      <input type="text" id="body" class="input-area" name="body"><br><br>

      <label for="tags">Tags</label>
      <input type="text" id="tags" class="input-area" name="tags"><br><br>

      <label for="image" class="img-text">Image</label>
      <input type="text" id="image" class="input-area" name="image"><br><br>


    </form>
  </div>
  <div class="img-upload"></div>
</div>