.alert{
  width: 30rem;
  z-index: 999;
  background-color: aqua;
  position: fixed;
  top: 10rem;
  right: 2rem;
  border-radius: 3PX;
  /* height: 5rem; */
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  opacity: 0.8;
}

.loader {
   height: 100vh;
   width: 100vw;
   background-color: white;
   opacity: 0.7;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
}
