<div class="sample">
  <div class="title-aligner">
    <p class="page-title">
      200 pune jobs
    </p>
  </div>

  <div class="container">
    <div class="filter-container">
      <p class="filter-title filter-title-desktop">
        <img src="assets/images/filter.png" alt=""> &nbsp;
        Filters
      </p>
      <p class="filter-title filter-title-mobile" (click)="filterHideShow()">
        <img src="assets/images/filter.png" alt=""> &nbsp;
        Filters
      </p>
      <div class="filter-strategies filter-strategies-desktop">
        <form>
          <label for="profile">Profile</label><br>
          <input type="text" id="profile" name="profile" placeholder="eg. Marketing" class="input-area">
          <label for="profile">Location</label><br>
          <input type="text" id="profile" name="profile" placeholder="eg. Marketing" class="input-area">
          <label for="profile">Search</label><br>
          <input type="text" id="profile" name="profile" placeholder="eg. Marketing" class="input-area">
        </form>
      </div>
      <div class="filter-strategies filter-strategies-mobile" id="fs">
        <form>
          <label for="profile">Profile</label><br>
          <input type="text" id="profile" name="profile" placeholder="eg. Marketing" class="input-area">
          <label for="profile">Location</label><br>
          <input type="text" id="profile" name="profile" placeholder="eg. Marketing" class="input-area">
          <label for="profile">Search</label><br>
          <input type="text" id="profile" name="profile" placeholder="eg. Marketing" class="input-area">
        </form>
      </div>
    </div>
    <div class="job-container">
      <div class="job-wrapper">
        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>

        <div class="job">
          <span>
            <img src="assets/images/trend.png" class="trend-icon" alt="">
            Actively hiring
          </span>
          <div class="job-title-container">
            <div class="job-title">
              <p id="title">Graphic Designer</p>
              <p>Microsoft</p>
            </div>
            <div class="logo-container">
              <img src="assets/images/apple-touch-icon.png" alt="" id="company-logo">
            </div>
          </div>
          <div class="location-aligner">
            <img src="assets/images/location.png" id="location-icon"> &nbsp;&nbsp;Pune
          </div>
          <div class="job-info">
            <img src="assets/images/play.png" alt=""> &nbsp;
            <p id="inf">Start At</p>
            <img src="assets/images/money.png" alt=""> &nbsp;
            <p id="inf">CTC (Annual)</p>
            <img src="assets/images/experience.png" alt=""> &nbsp;
            <p id="inf">Experience</p>
          </div>
          <div class="job-info">
            <p id="inf">Immediately</p>
            <p id="inf">5,00,000 &nbsp;- &nbsp;7,50,000</p>
            <p id="inf">0&nbsp;- &nbsp;2 years</p>
          </div>
          <div class="job-info">
            <img src="assets/images/time.png" alt=""> &nbsp;
            <p id="inf" class="job-time">Just now</p>
            <p id="inf" class="job-type">Job</p>
          </div>
        </div>
      </div>
      <!-- <div class="job">job 1</div>
        <div class="job">job 1</div>
        <div class="job">job 1</div>
        <div class="job">job 1</div>
        <div class="job">job 1</div>
        <div class="job">job 1</div> -->
    </div>
  </div>
</div>