*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-aligner{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.heading{
  font-family: Inter;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.main-container{
  margin-top:18rem;
  background-color: #123182;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.email, .password{
  display: flex;
  flex-direction: column;
}

.email-text, .password-text{
  font-family: Inter;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2rem;
}

#email, #password{
  height: 3.5rem;
  border: none;
  border-radius: 3px;
  outline: none;
  margin-top: 1rem;
  background-color: #D9D9D9;
  min-width: 70vw;
  padding-left: 1rem;
}

#email::placeholder, #password::placeholder{
  font-family: Inter;
  color:black;
  opacity: 0.3;
  text-transform:none;
}

.login-button{
  height: 3.5rem;
  background-color: #2B1485;
  margin-top: 1.5rem;
  border: none;
  color: #FFFFFF;
  border-radius: 4px;
  opacity: 0.8;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}

.login-button:hover{
  opacity: 0.5;
}

.login-w-google, .login-w-facebook{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  margin-top: 2rem;
  height: 3.5rem;
  border-radius: 3px;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-weight: 700;
}

.login-provider-aligner{
  display: flex;
  justify-content: space-around;
}

.login-button-aligner{
  display: flex;
  justify-content: center;
}

.login-w-google:hover, .login-w-facebook:hover{
  background-color: #D9D9D9;
}

.google-svg{
  width: 17px;
  margin-right: 1rem;
  margin-left: 0.1rem;
}
.facebook-svg{
  width: 17px;
  margin-right: 0.9rem;
}

.indicator{
  padding-left: 2rem;
  padding-top: 0.5rem;
  max-width: 70vw;
  color: red;
}

/* responsive code */

@media (min-width: 700px) and (max-width: 1000px) {
  #email, #password{
    min-width: 65vw;
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  #email, #password{
    min-width: 50vw;
  }
}

@media (min-width: 1501px){
  #email, #password{
    min-width: 35vw;
  }
}

@media (max-width: 500px){
  #email, #password{
    min-width: 80vw;
  }

  .login-w-google, .login-w-facebook{
    font-size: 9px;
  }

  .login-provider-aligner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}



