*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  /* 1rem=10px */
  /* by default 1rem=16px */
}

body{
  background-color:#0A2DA7;
  overflow-x: hidden;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


@font-face {
  font-family: 'Roboto-Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf');
}