.sample{
  width: 80vw;
  height: auto;
  min-height: 100vh;
  background-color: rgba(239,231,223,255);
  margin: auto;
  padding-top: 8.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.user{
  display: flex;
  justify-content: center;
  align-content: center;
  vertical-align: middle;
  /* margin-top: 1rem; */
  margin-bottom: 3rem;
  position: sticky;
  top: 88px;
  background-color: rgba(0,128,105,255);
  border-radius: 3px;
  z-index: 900;
  padding: 1rem;
}

.user-avatar{
  width: 60px;
  height: 55px;
}

.name{
  font-size: 20px;
  font-family: Inter;
  margin-top: 2rem;
  margin-left: 2rem;
}

.main-chat-container{
  font-size: 12px;
  font-family: 'Roboto-Regular';
  margin-bottom: -2rem;
  padding-bottom: 2rem;
}

.chat-container-l{
  display: flex;
  justify-content: flex-start;
}

.chat-container-r{
  display: flex;
  justify-content: flex-end;
}

.m {
  max-width: 40vw;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 1rem;
}

.m-l{
  background-color: #f5f6f7;
}

.m-r{
  background-color: rgba(231,254,218,255);
}

.time{
  position: relative;
  right: 2px;
  float: right;
  font-weight: 550;
  padding-top: 20px;

}

.last-mess{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 1rem;
  width: 100%;
}

.current-mess{
  background-color: #f5f6f7;
  height: 4rem;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
  font-family: Inter;
  z-index: 998;
  border: none;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 30vw;
}

.send-button{
  height: 4rem;
  font-size: 14px;
  z-index: 998;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  background-color: #f5f6f7;
  outline: none;
  padding-right: 6px;
}

.send-icon{
  height: 23px;
  width: 23px;
  cursor: pointer;
}

/* responsive code */
@media (min-width: 500px) and (max-width: 930px) {
  .sample{
    width: 85vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .current-mess{
    width: 60vw;
    font-size: 14px;
  }

  .m {
    max-width: 50vw;
  }
}

/* responsive code */
@media (max-width: 499px) {
  .sample{
    width: 92vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .current-mess{
    width: 60vw;
    font-size: 14px;
  }

  .m {
    max-width: 50vw;
  }
}

/* responsive code */
@media (max-width: 350px) {
  .m {
    max-width: 75vw;
  }

  .current-mess{
    width: 75vw;
    font-size: 14px;
  }
}