
<div class="main-content">
  <div class="user">
    <img src="assets/images/profile.png" alt="" class="user-avatar">
    <p class="name">John Doe</p>
  </div>
  <div class="message1"></div>
  <div class="message2"></div>
  <div class="message3"></div>
  <div class="message4"></div>
  <div class="message5"></div>
  <div class="message6"></div>
  <div class="message7"></div>
  <div class="message8"></div>
  <div class="message1"></div>
  <div class="message2"></div>
  <div class="message3"></div>
  <div class="message4"></div>
  <div class="message5"></div>
  <div class="message6"></div>
  <div class="message7"></div>
  <div class="message8"></div>

  <div class="last-mess">
    <div class="current-mess">Type here...
    </div><ion-icon name="paper-plane"></ion-icon>
  </div>

</div>