<div class="sample">
  <!-- <div class="post-temp"> -->
  <div class="navigation-button">
    <button class="back" routerLink="/questions">Back</button>
    <button class="back" routerLink="/questions/myquestions">My question</button>
  </div>
  <div class="user-info-time-aligner">
    <div class="user-info">
      <img src="assets/images/profile.png" alt="" class="post-avatar">
      <p class="user-name">{{question.user.name}}</p>
    </div>
    <!-- <p class="hastags">#nodejs #mongoDB #Express</p> -->
    <p class="upload-time">{{ question.createdAt.toString() | timeAgo }}</p>
  </div>
  <div class="main-post">
    <div>
      <div class="interaction-aligner">
        <img src="assets/images/upvote.png" alt="" class="upvote">
        <p class="vote-count">200</p>
        <img src="assets/images/downvote.png" alt="" class="downvote">
        <div class="post" [routerLink]="['/questions', question._id]">{{question.title}}</div>
      </div>
      <div class="post1">
        {{question.output}}
      </div>
      <span style="font-size: large; font-family: Inter;">Code:</span>
      <br>
      <pre><code [highlight]="question.code.code"></code></pre>
    </div>
  </div>
  <button class="new-post" routerLink="/questions/create"><ion-icon name="add-outline"></ion-icon></button>
  <!-- </div> -->
</div>