.back{
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  color: white;
  margin-top: 1rem;
}

.user-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.user-info-time-aligner{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.upload-time{
  width: 100px;
}

.post-avatar{
  width: 30px;
  margin-right: 1.5rem;
}

.user-name{
  margin-right: 1.5rem;
  font-weight: bold;
  font-size: 16px;
  font-family: Inter;
}

.hastags{
  font-size: 12px;
  font-family: Inter;
  font-weight: bold;
  color: black;
}

.main-post{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.post{
  display: flex;
  font-family: Inter;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-left: 7px;
}

.post1{
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  font-family: Inter;
  margin-bottom: 2rem;
  margin-left: 10px;
  margin-top: 40px;
}

.post2{
  font-size: 1.5rem;
  letter-spacing: 0.8px;
  font-family: Inter;
  margin-bottom: 2rem;
  margin-left: 30px;
}

.new-post{
  position: fixed;
  bottom: 3rem;
  right: 13vw;
  height: 5rem;
  width: 5rem;
  border-radius: 4rem;
  background-color: #0A2DA7;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}

.new-post ion-icon {
  font-size: 4rem;
  font-weight: bolder;
}

.submit-button-aligner{
  align-items: center;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  font-size: medium;
  font-weight: 400;
  cursor: pointer;
}

.submit-button-aligner a {
  text-decoration: none;
}

code {
  font-size: large;
  border-radius: 5px;
  width: 70vw;
  word-wrap: normal;
}

.copy-code-aligner{
  display: flex;
  justify-content: flex-end;
  position: relative;
  font-size: medium;
  top: 25px;
  right: 15px;
}

.copy-code{
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  background-color: aquamarine;
}

/* responsiveness remains */

.questions-lable{
  font-size: 2rem;
}

.ansusercard{
  margin-top: 1rem;
}

.answer{
  margin-top: 1rem;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 4px;
  /* padding-top: 2rem; */
}

.answer-description{
  font-size: 16px;
  margin-bottom: 1rem;
  font-weight: 500;
}

.answer-code{
  width: 99%;
}

/*  */


@media (min-width: 1000px) {
  code{
    width: 75vw;
  }

  .new-post{
    right: 10vw;
  }
}

.user-message{
  border-radius: 5px;
  padding-left: 5px;
}

.navigation-button{
  display: flex;
  justify-content: space-between;
}

.upvote{
  position: relative;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}
.downvote{
  position: relative;
  right: 2rem;
  top: 4rem;
  cursor: pointer;
}

.vote-count{
  position: relative;
  left: -15px;
  top: 3rem;
}

.interaction-aligner{
  margin-left: 1.8rem;
}

/* user card code */
/* user card */
.container{
  padding: 1rem;
  padding-top: 0;
  padding-left: 0.4rem;
  background-color: #D9D9D9;
  display: inline-block;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  display: inline-flex;
}

.user-info-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.3rem;
  margin-bottom: 0.8rem;
}

.user-name-card{
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#profile-image{
  max-height: 3rem;
  border-radius: 50%;
}

.user-preferences{
  display: flex;
  justify-content: space-around;
  font-size: large;
}

/* responsive */

@media (max-width: 290px) {
  .user-name {
    font-size: medium;
    padding: 5px;
  }

  #profile-image{
      max-height: 2rem;
  }
}

@media (max-width: 192px){
  .container{
      font-size: smaller;
  }
}

@media (min-width: 290px){
  .container{
      width: 200px;
  }
}

.usercard-container{
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}



/* responsive code */

.sample{
  width: 80vw;
  height: auto;
  min-height: 100vh;
  background-color: white;
  margin: auto;
  padding-top: 9rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
}

@media (max-width: 500px) {
  .sample{
    width: 90vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .submit-button-aligner{
    font-size: 10px;
  }

  .new-post{
    right: 0px;
  }

  code {
    font-size: 8px;
    border-radius: 5px;
    width: 86vw;
    word-wrap: normal;
  }

  .back{
    height: 2rem;
    width: 2rem;
  }

  .new-post{
    right: 1.5vw;
    width: 5rem;
  }

  .post{
    font-size: 12px;
    font-weight: 400;
  }

  .user-name{
    font-size: 12px;
    font-weight: 500;
  }

  .post1{
    font-size: 10px;
    letter-spacing: 0.8px;
  }

  .post2{
    font-size: 10px;
    margin-left: 20px;
  }

  .answer-description{
    font-size: 11px;
  }
}