<div class="sample">
  <div class="navigation-button">
    <button class="back" routerLink="/questions">Back</button>
    <button class="back" routerLink="/questions/myquestions">My question</button>
  </div>
  <div class="user-info-time-aligner">
    <div class="user-info">
      <img src="assets/images/profile.png" alt="" class="post-avatar">
      <p class="user-name">{{question.user.name}}</p>
    </div>
    <!-- <p class="hastags">#nodejs #mongoDB #Express</p> -->
    <p class="upload-time">{{ question.createdAt.toString() | timeAgo }}</p>
  </div>
  <div class="main-post">
    <div>
      <div class="interaction-aligner">
        <img [src]="question.preferences == 1 ? 'assets/images/upvotered.png' : 'assets/images/upvote.png'" alt="" class="upvote" (click)="upVote(question)" alt="" [style]="question.preferences == 1 ? 'color:red;' : 'color:black;'">
        <p class="vote-count">{{question.votes}}</p>
        <img [src]="question.preferences == 2 ? 'assets/images/downvotered.png' : 'assets/images/downvote.png'" alt="" class="downvote" (click)="downVote(question)" [style]="question.preferences == 2 ? 'color:red;' : 'color:black;'">
        <div class="post" [routerLink]="['/questions', question._id]">
          <p>
            {{question.title}}
          </p>
          <div class="submit-button-aligner">
            <a [routerLink]="['/questions', question._id, 'answer']">submit answer</a>
          </div>
        </div>
      </div>
      <div class="post1">
        {{question.output}}
      </div>
      <span style="font-size: large; font-family: Inter;">Code:</span>
      <br>
      <pre><code [highlight]="question.code.code"></code></pre>
    </div>
  </div>
  <hr>
  <br>
  <div class="answer-container">
    <p class="questions-lable">
      200 Answers
    </p>
    <div class="answer" *ngFor="let answer of answers">
      <div class="interaction-aligner">
        <img src="assets/images/upvote.png" alt="" class="upvote">
        <p class="vote-count">200</p>
        <img src="assets/images/downvote.png" alt="" class="downvote">
        <div class="post">
          <p class="answer-description">
            {{answer.description}}
          </p>
        </div>
      </div>
      <!-- <p class="answer-description">
        {{answer.description}}
      </p> -->
      <pre><code [highlight]="answer.code" class="answer-code" *ngIf="answer.code != null"></code></pre>
      <div class="usercard-container ansusercard">
        <div class="container">
          <div>
            posted {{ answer.createdAt.toString() | timeAgo }}
            <div class="user-info-card">
              <img src="assets/images/profile.png" id="profile-image" alt="">
              <span class="user-name-card">
                {{answer.user.name}}
              </span>
            </div>
            <div class="user-preferences">
              <span class="start">
              </span>{{answer.user.stars}}⭐
              <span class="views">
                {{answer.user.profileViews}}👀
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="new-post" routerLink="/questions/create"><ion-icon name="add-outline"></ion-icon></button>
</div>